[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fabric3 = "*"

[packages]
django = "<1.12"
selenium = "<4"
gunicorn = "*"

[requires]
python_version = "3.8"
